#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#shareResult{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultname{
  font-family: 'Jua', sans-serif;
  font-size: 35px;
}

.resultDesc{
  font-family: 'Jua', sans-serif;
  font-size: 20px;
}

.Share{
  font-family: 'Jua', sans-serif;
  font-size: 30px;
}

.again{
  color: white;
  background-color: #BC8F8F;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.allResults{
  color: white;
  background-color: #D8BFD8;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.gohome{
  color: white;
  background-color: #BC8F8F;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.again:hover, .again:focus {
  background-color: whitesmoke;
  color: #BC8F8F;
}

.allResults:hover, .allResults:focus {
  background-color: whitesmoke;
  color: #D8BFD8;
}

.gohome:hover, .gohome:focus {
  background-color: whitesmoke;
  color: #BC8F8F;
}

.link-icon { position: relative; display: inline-block; width: auto; width: 80px; height: 80px; margin-right: 10px; padding-top: 50px; }
.link-icon.twitter { background-image: url(../img/twitter.png); background-repeat: no-repeat; width: 80px; height: 80px;}
.link-icon.facebook { background-image: url(../img/facebook.png); background-repeat: no-repeat; }
.link-icon.kakao { background-image: url(../img/kakao.png); background-repeat: no-repeat; width: 80px; height: 80px;}
.link-icon.naver { background-image: url(../img/naver.png); background-repeat: no-repeat; }
